@font-face {
    font-family: "font1";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/font.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font2";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/font2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font3";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/7.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font4";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/9.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font5";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/HongLeiBanShuJianTi-2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font6";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/YanShiXiaXingKai-2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font7";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/6.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "起名的诗";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/8.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "每日推荐";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/5.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "1";
    /*src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/1.ttf');*/
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/6.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "2";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "3";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/3.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "4";
    src: url('https://raw.githubusercontent.com/422511186/images/main/fonts/4.ttf');
    font-weight: normal;
    font-style: normal;
}

