@font-face {
    font-family: "font1";
    src: url('./font.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font2";
    src: url('./font2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font3";
    src: url('./7.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font4";
    src: url('./9.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font5";
    src: url('./HongLeiBanShuJianTi-2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font6";
    src: url('./YanShiXiaXingKai-2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "font7";
    src: url('./6.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "起名的诗";
    src: url('./8.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "每日推荐";
    src: url('./5.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "1";
    /*src: url('./1.ttf');*/
    src: url('./6.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "2";
    src: url('./2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "3";
    src: url('./3.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "4";
    src: url('./4.ttf');
    font-weight: normal;
    font-style: normal;
}

